<div class="miscellaneous-layout" [class.miscellaneous-layout--form]="layout.sidebarCollapsed()">
  <app-sidebar
    [title]="'Forms'"
    [items]="sidebarItems"
    [sections]="sidebarSections"
    [showManageButton]="false"
    [isCollapsed]="layout.sidebarCollapsed()"
    [activeItemId]="activeSidebarItemId()"
    (folderSelected)="onFolderSelected($event)"
    (collapsedChange)="layout.sidebarCollapsed.set($event)"
  ></app-sidebar>

  <div class="miscellaneous-content">
    <router-outlet />
  </div>
</div>
